<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex justify-content-center w-100 h-100">
        <a href="https://twitter.com/tapmadtv/status/1403998651756781568?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet">
         <img src="./assets/images/s2.jpg" class="d-block">
        </a>
      </div>
    </div>

    <div class="carousel-item">
      <div class="d-flex justify-content-center w-100 h-100">
       <a href="https://www.pakistantoday.com.pk/2021/06/12/pcb-to-bid-for-five-icc-events-in-2024-2031-cycle-reports/">
        <img src="./assets/images/s1.jpeg" class="d-block">
       </a>
      </div>
    </div>

    <div class="carousel-item">
      <div class="d-flex justify-content-center w-100 h-100">
        <a href="https://www.pcb.com.pk/press-release-detail/innovation-and-scientific-advancements-remain-at-core-of-nhpc-s-evolution.html">
         <img src="./assets/images/s3.jpg" class="d-block">
        </a>
      </div>
    </div>

    <div class="carousel-item"  style= "height:20%; float:center;">
      <div class="d-flex justify-content-center w-100 h-100">
        <a href="https://www.espncricinfo.com/series/county-championship-2021-1244186">
         <img src="./assets/images/s4.webp" class="d-block">
        </a>
      </div>
    </div>
  </div>
</div>
